@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.container{
    background-color: #b0b0b0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #faaaaf;
    text-decoration: none;
    height: 3vh;
    width: 8vw;
    border-color: #faaaaf;
    margin-top: 2vh;
    font-size: large;
}

.form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input{
    text-align: center;
    height: 2vh;
    font-size: large;
}